registry=https://repository.ext.icrc.org/repository/main-npm/
always-auth=true
strict-ssl=false
userAgent=choco





//repository.ext.icrc.org/repository/main-npm/:username=Ec7-JU4E
//repository.ext.icrc.org/repository/main-npm/:_password=LWFDa1YzUk1rS0stOG96Vm1KQnlsM010LWZMdHJUOWlpeGhSZWlFWDlhT3c=
//repository.ext.icrc.org/repository/main-npm/:email=Ec7-JU4E
//repository.ext.icrc.org/repository/main-npm/:always-auth=true
